In [1]:
import pandas as pd
import re

In [2]:
attacks_filtered = pd.read_csv("../data/Attacks_filtered2.csv")

attacks_filtered

,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,Year,Month
0,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF",2018.0,Jun
1,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com",2018.0,Jun
2,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com",2018.0,Jun
3,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF",2018.0,Jun
4,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper,2018.0,Jun
...,...,...,...,...,...,...,...,...,...,...
4947,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",1906.0,NaN
4948,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234",1903.0,NaN
4949,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",1903.0,NaN
4950,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",1900.0,NaN
4951,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker,1845.0,NaN

In [3]:
attacks_filtered["Activity"].value_counts()

Surfing                                                                                940
Swimming                                                                               756
Fishing                                                                                316
Spearfishing                                                                           286
Wading                                                                                 141
                                                                                      ...
Longline fishing for sharks                                                              1
Feeding a shark                                                                          1
The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore        1
Swimming in the channel                                                                  1
4 men were bathing                                                                       1
Name: Activity, Length: 1226, dtype: int64

In [4]:
# %run Functions.ipynb 
        
# filter_activity(attacks_filtered["Activity"])
for i in attacks_filtered["Activity"]:
    i = str(i)
    if "swim" in i or "Swim" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Swimming related")
    elif "surf" in i or "Surf" in i or "Board" in i or "board" in i or "Pad" in i or "pad" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Board involved activity")
    elif "fish" in i or "Fish" in i or "Kill" in i or "Pull" in i or "Pick" in i or "feed" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Fishing related")
    elif "Wad" in i or "Bath" in i or "bath"in i or "Stand"in i or "Play" in i or "play" in i or "Walk" in i or "walk" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Beach activities")
    elif "Div" in i or "div" in i or "underw" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Diving activities")
    elif "dinghy" in i or "collide" in i or "lifeboat" in i or "explodex" in i or "skiff" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Consequence of a shipwreck")
    elif "Shark"in i or "shark" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Consequence of handeling sharks")
    else:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Other random, unclassifiable or silly activities")

In [5]:
attacks_filtered["Activity"].value_counts()

Board involved activity                             1450
Swimming related                                     988
Fishing related                                      935
Other random, unclassifiable or silly activities     547
Beach activities                                     462
Diving activities                                    422
Consequence of handeling sharks                       89
Consequence of a shipwreck                            13
Name: Activity, dtype: int64

In [6]:
attacks_filtered.sample()

,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,Year,Month
152,Unprovoked,USA,Florida,Board involved activity,M,N,10h00,"Orlando Sentinel, 3/27/2017",2017.0,Mar

In [7]:
attacks_filtered.to_csv("../data/Attacks_filtered3.csv", index=False)