In [1]:
import pandas as pd

In [2]:
attacks = pd.read_csv("../data/attacks.csv", encoding= 'unicode_escape')
attacks.rename(columns={"Species ": "Species", "Sex ": "Sex"}, inplace = True, errors = "raise")
attacks.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
19619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
attacks = attacks.drop(["Unnamed: 22", "Unnamed: 23", "original order", "href formula", "href", "Case Number.1","Case Number.2", "pdf", "Case Number", "Species", "Name", "Age", "Injury", "Location"], axis = 1)
attacks.dropna(axis=0, inplace=True, thresh=9)
attacks.reset_index(drop = True)

,Date,Year,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper
...,...,...,...,...,...,...,...,...,...,...
4947,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz..."
4948,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234"
4949,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
4950,1900-1905,0.0,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
4951,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker

In [4]:
attacks.isna().sum()

Date                         0
Year                         0
Type                         1
Country                      1
Area                        54
Activity                    46
Sex                         83
Fatal (Y/N)                121
Time                      2047
Investigator or Source       3
dtype: int64

In [5]:
attacks.to_csv("../data/attacks_filtered1.csv", index=False)

From here, we are doing regex on the different columns in order to have the most cleared data

# Cleaning explanation and conclussion

The percentage between "Nan" values and total number of rows, justify the cleaning process we have been doing before. From this dataframe we are able to establish hypothesis without loosing much value information during the cleaning.

In [6]:
attacks["Year"].value_counts()

2015.0    129
2017.0    122
2011.0    118
2016.0    117
2014.0    109
         ...
1834.0      1
1857.0      1
1829.0      1
1844.0      1
1810.0      1
Name: Year, Length: 208, dtype: int64