In [1]:
import pandas as pd

In [8]:
attacks = pd.read_csv("../data/attacks.csv", encoding= 'unicode_escape')
attacks.rename(columns={"Species ": "Species"}, inplace = True, errors = "raise")

In [11]:
attacks = attacks.drop(["Unnamed: 22", "Unnamed: 23", "original order", "href formula", "href", "Case Number.1","Case Number.2", "pdf", "Case Number", "Species", "Time", "Name", "Age"], axis = 1)
attacks.dropna(axis=0, inplace=True, thresh=10)
attacks.reset_index(drop = True)

,Date,Year,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N),Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,Minor injury to left thigh,N,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,Injury to left lower leg from surfboard skeg,N,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,Minor injury to lower leg,N,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...
5650,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,M,FATAL,Y,"L. Becke in New York Sun, 9/9/1906; L. Schultz..."
5651,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,FATAL,Y,"H. Taunton; N. Bartlett, p. 234"
5652,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,FATAL,Y,"H. Taunton; N. Bartlett, pp. 233-234"
5653,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,FATAL,Y,"F. Schwartz, p.23; C. Creswell, GSAF"
5654,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,"FATAL. ""Shark bit him in half, carrying away t...",Y,S.W. Baker

In [4]:
attacks.isna().sum()

Date                        0
Year                        1
Type                        1
Country                     4
Area                      143
Location                  207
Activity                  231
Sex                       301
Injury                      2
Fatal (Y/N)               324
Investigator or Source      7
dtype: int64

# Cleaning explanation and conclussion

The percentage between "Nan" values and total number of rows, justify the cleaning process we have been doing before. From this dataframe we are able to establish hypothesis without loosing much value information during the cleaning.

In [17]:
attacks["Year"].value_counts()

2015.0    136
2017.0    128
2016.0    124
2011.0    124
2014.0    115
         ...
1816.0      1
1859.0      1
1857.0      1
1841.0      1
1834.0      1
Name: Year, Length: 220, dtype: int64