In [1]:
import pandas as pd
import re

In [2]:
attacks = pd.read_csv("../data/attacks.csv", encoding= 'unicode_escape')
attacks.rename(columns={"Species ": "Species", "Sex ": "Sex"}, inplace = True, errors = "raise")
attacks.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
11836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
attacks = attacks.drop(["Unnamed: 22", "Unnamed: 23", "original order", "href formula", "href", "Case Number.1","Case Number.2", "pdf", "Case Number", "Species", "Name", "Age", "Injury", "Location"], axis = 1)
attacks.dropna(axis=0, inplace=True, thresh=9)
attacks.reset_index(drop = True)

,Date,Year,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper
...,...,...,...,...,...,...,...,...,...,...
4947,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz..."
4948,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234"
4949,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
4950,1900-1905,0.0,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
4951,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker

In [4]:
attacks.isna().sum()

Date                         0
Year                         0
Type                         1
Country                      1
Area                        54
Activity                    46
Sex                         83
Fatal (Y/N)                121
Time                      2047
Investigator or Source       3
dtype: int64

In [5]:
attacks.to_csv("../data/attacks_filtered1.csv", index=False)

From here, we are doing regex on the different columns in order to have the most cleared data

# Cleaning explanation and conclussion

The percentage between "Nan" values and total number of rows, justify the cleaning process we have been doing before. From this dataframe we are able to establish hypothesis without loosing much value information during the cleaning.

We start to clean the Date column, transforming it into Year and Month
We are going to clean the Date and Year columns, trying to clear the info and extracting the most usefull one
First we create another column called NewYear with the str values of the column Year.

In [6]:
attacks_filtered = pd.read_csv("../data/attacks_filtered1.csv")
# attacks_filtered
pattern = "^\d{4}"
year_list = str(i for i in list(attacks_filtered["Year"]))

In [7]:
pattern = "^\d{4}"

attacks_filtered["NewYear"] = attacks_filtered["Year"].apply(lambda x: re.findall(pattern, str(x)))
attacks_filtered["NewYear"] = attacks_filtered["NewYear"].explode()
attacks_filtered = attacks_filtered.drop(["Year"], axis = 1)
                                          
attacks_filtered

,Date,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,NewYear
0,25-Jun-2018,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF",2018
1,18-Jun-2018,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com",2018
2,09-Jun-2018,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com",2018
3,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF",2018
4,04-Jun-2018,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper,2018
...,...,...,...,...,...,...,...,...,...,...
4947,Before 1906,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",NaN
4948,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234",NaN
4949,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",NaN
4950,1900-1905,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",NaN
4951,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker,NaN

In [8]:
attacks_filtered["NewYear"].isnull().sum()

80

In [9]:
%run Functions.ipynb

move_info(list(attacks_filtered["NewYear"]), list(attacks_filtered["Date"]))

attacks_filtered["NewYear"].isnull().sum()

#attacks_filtered["NewYear"]

0

In [10]:
pattern_2 = "\d{4}"
pattern_3 = "(\d+)[^-]*$"

attacks_filtered["NewYear"] = attacks_filtered["NewYear"].apply(lambda x: re.findall(pattern_2, str(x)))
attacks_filtered["NewYear"] = attacks_filtered["NewYear"].apply(lambda x: re.findall(pattern_3, str(x)))
attacks_filtered["Year"] = attacks_filtered["NewYear"].explode().astype("object")
attacks_filtered = attacks_filtered.drop(["NewYear"], axis = 1)

# attacks_filtered = attacks_filtered["Year"].apply(lambda x: str(x))



attacks_filtered

,Date,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,Year
0,25-Jun-2018,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF",2018
1,18-Jun-2018,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com",2018
2,09-Jun-2018,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com",2018
3,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF",2018
4,04-Jun-2018,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper,2018
...,...,...,...,...,...,...,...,...,...,...
4947,Before 1906,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",1906
4948,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234",1903
4949,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",1903
4950,1900-1905,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",1900
4951,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker,1845

In [11]:
pattern_4 = "([a-z|A-Z]{3})"
pattern_5 = "(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)"
pattern_6 = "^\S*"


attacks_filtered["Month"] = attacks_filtered["Date"].apply(lambda x: re.findall(pattern_4, str(x))).apply(lambda x: ' '.join(x))
attacks_filtered["Month"] = attacks_filtered["Month"].apply(lambda x: re.findall(pattern_5, str(x))).apply(lambda x: ' '.join(x))
attacks_filtered["Month"] = attacks_filtered["Month"].apply(lambda x: re.findall(pattern_6, str(x))).apply(lambda x: ' '.join(x))
attacks_filtered = attacks_filtered.drop(["Date"], axis = 1)

attacks_filtered

,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,Year,Month
0,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF",2018,Jun
1,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com",2018,Jun
2,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com",2018,Jun
3,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF",2018,Jun
4,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper,2018,Jun
...,...,...,...,...,...,...,...,...,...,...
4947,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",1906,
4948,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234",1903,
4949,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",1903,
4950,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",1900,
4951,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker,1845,

In [12]:
attacks_filtered["Month"].value_counts()

Jul    538
Aug    485
Sep    462
Jun    409
Jan    406
Oct    377
Apr    361
Dec    340
Mar    326
May    318
Nov    316
Feb    315
       299
Name: Month, dtype: int64

In [13]:
attacks_filtered["Activity"].value_counts()

Surfing                                                                                940
Swimming                                                                               756
Fishing                                                                                316
Spearfishing                                                                           286
Wading                                                                                 141
                                                                                      ...
Longline fishing for sharks                                                              1
Feeding a shark                                                                          1
The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore        1
Swimming in the channel                                                                  1
4 men were bathing                                                                       1
Name: Activity, Length: 1226, dtype: int64

In [14]:
# %run Functions.ipynb 
        
# filter_activity(attacks_filtered["Activity"])

for i in attacks_filtered["Activity"]:
        i = str(i)
        if "swim" in i or "Swim" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Swimming related")
        elif "surf" in i or "Surf" in i or "Board" in i or "board" in i or "Pad" in i or "pad" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Board involved activity")
        elif "fish" in i or "Fish" in i or "Kill" in i or "Pull" in i or "Pick" in i or "feed" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Fishing related")
        elif "Wad" in i or "Bath" in i or "bath"in i or "Stand"in i or "Play" in i or "play" in i or "Walk" in i or "walk" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Beach activities")
        elif "Div" in i or "div" in i or "underw" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Diving activities")
        elif "dinghy" in i or "collide" in i or "lifeboat" in i or "explodex" in i or "skiff" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Consequence of a shipwreck")
        elif "Shark"in i or "shark" in i:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Consequence of handeling sharks")
        else:
            attacks_filtered["Activity"] = attacks_filtered["Activity"].replace(i, "Other random, unclassifiable or silly activities")

In [15]:
attacks_filtered["Activity"].value_counts()

Board involved activity                             1450
Swimming related                                     988
Fishing related                                      935
Other random, unclassifiable or silly activities     547
Beach activities                                     462
Diving activities                                    422
Consequence of handeling sharks                       89
Consequence of a shipwreck                            13
Name: Activity, dtype: int64

In [16]:
attacks_filtered.sample()

,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,Year,Month
4692,Unprovoked,GREECE,Cyclades archipelago,Diving activities,M,Y,NaN,"C. Moore, GSAF",1876,Sep

In [17]:
# %run Functions.ipynb 
# filter_time(attacks_filtered["Time"])

for i in attacks_filtered["Time"]:
        i = str(i)

        if "06" in i or "07"  in i or "08" in i or "09" in i or "10" in i or "11" in i or "morning" in i or "Morning" in i or "A.M" in i or "AM" in i or "dawn" in i or "Dawn"in i:
            attacks_filtered["Time"] = attacks_filtered["Time"].replace(i, "Morning")

        elif "12" in i or "13"in i or "14"in i or "15"in i or "16"in i or "17"in i or "afternoon"in i or "lunch"in i or "noon"in i or "Noon"in i or "Midday"in i or "P.M." in i:      
            attacks_filtered["Time"] = attacks_filtered["Time"].replace(i, "Afternoon")

        elif "18"in i or "19"in i or "20"in i or "21"in i or "Sunset"in i or "dusk"in i or "Dusk"in i or "evening" in i:
            attacks_filtered["Time"] = attacks_filtered["Time"].replace(i, "Evening")

        elif "22"in i or "23"in i or "24"in i or "01"in i or "02"in i or "03"in i or "04"in i or "05"in i or "Night"in i or "night"in i:
            attacks_filtered["Time"] = attacks_filtered["Time"].replace(i, "Nightime")
            
        else:
             attacks_filtered["Time"] = attacks_filtered["Time"].replace(i, "Random or not clear time references")

In [18]:
attacks_filtered["Time"].value_counts()

Afternoon                              1555
Morning                                 951
Random or not clear time references     284
Nightime                                115
Name: Time, dtype: int64

In [19]:
attacks_filtered.shape

(4952, 10)

In [20]:
pattern = "^(N|Y)"

attacks_filtered["Fatal (Y/N)"] = attacks_filtered["Fatal (Y/N)"].apply(lambda x: re.findall(pattern, str(x)))
attacks_filtered["Fatal"] = attacks_filtered["Fatal (Y/N)"].explode()
attacks_filtered = attacks_filtered.drop(["Fatal (Y/N)"], axis = 1)

In [21]:
pattern = "^(F|M)"

attacks_filtered["Sex"] = attacks_filtered["Sex"].apply(lambda x: re.findall(pattern, str(x)))
attacks_filtered["NSex"] = attacks_filtered["Sex"].explode()
attacks_filtered = attacks_filtered.drop(["Sex"], axis = 1)

In [22]:
attacks_filtered["Type"].value_counts()

Unprovoked      4026
Provoked         484
Invalid          141
Sea Disaster     131
Boating          112
Boat              54
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [23]:
attacks_filtered.to_csv("../data/Attacks_filtered.csv", index=False)

In [24]:
attacks_filtered

,Type,Country,Area,Activity,Time,Investigator or Source,Year,Month,Fatal,NSex
0,Boating,USA,California,Board involved activity,Random or not clear time references,"R. Collier, GSAF",2018,Jun,N,F
1,Unprovoked,USA,Georgia,Beach activities,Afternoon,"K.McMurray, TrackingSharks.com",2018,Jun,N,F
2,Invalid,USA,Hawaii,Board involved activity,Morning,"K.McMurray, TrackingSharks.com",2018,Jun,N,M
3,Unprovoked,AUSTRALIA,New South Wales,Board involved activity,NaN,"B. Myatt, GSAF",2018,Jun,N,M
4,Provoked,MEXICO,Colima,Diving activities,NaN,A .Kipper,2018,Jun,N,M
...,...,...,...,...,...,...,...,...,...,...
4947,Unprovoked,AUSTRALIA,New South Wales,Swimming related,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",1906,,Y,M
4948,Unprovoked,AUSTRALIA,Western Australia,Diving activities,NaN,"H. Taunton; N. Bartlett, p. 234",1903,,Y,M
4949,Unprovoked,AUSTRALIA,Western Australia,Diving activities,NaN,"H. Taunton; N. Bartlett, pp. 233-234",1903,,Y,M
4950,Unprovoked,USA,North Carolina,Swimming related,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",1900,,Y,M
4951,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming related,NaN,S.W. Baker,1845,,Y,M