In [1]:
import pandas as pd
import re
import functions as fun

In [2]:
attacks = pd.read_csv("../data/attacks.csv", encoding= 'unicode_escape')

# First we rename some of the columns, as the names have spaces on them 
fun.rename_columns(attacks, "Species ", "Species")
fun.rename_columns(attacks, "Sex ", "Sex")

# Next, we drop some of the columns we are not going to use and thw rows with many Nan values
fun.drop_columns(attacks, ["Unnamed: 22", "Unnamed: 23", "original order", "href formula", "href", "Case Number.1","Case Number.2", "pdf", "Case Number", "Species", "Name", "Age", "Injury", "Location"])
fun.drop_rows(attacks, 9)

In [3]:
fun.move_info(attacks, "Year", "Date")

# We are going to clean the values in the columns in order to get them in more readable format
attacks["Year"] = [str(i).split(".")[0] for i in attacks["Year"]]

From here, we are doing regex on the different columns in order to have the most cleared data

The percentage between "Nan" values and total number of rows, justify the cleaning process we have been doing before. From this dataframe we are able to establish hypothesis without loosing much value information during the cleaning.

We start to clean the Date column, transforming it into Year and Month
We are going to clean the Date and Year columns, trying to clear the info and extracting the most usefull one
First we create another column called NewYear with the str values of the column Year.

In [4]:
fun.regex_columns(attacks, "Year", "^\d{4}")

fun.regex_new_column(attacks, "Date", "Month", "([a-z|A-Z]{3})" )

fun.regex_columns(attacks, "Month", "(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)")

fun.drop_columns(attacks, "Date")

In [5]:
activities = {
                         "Swimming related": ".*(swim).*|.*(Swim).*",
                         "Board involved activity": ".*(Surf).*|.*(surf).*|.*(Board).*|.*(board).*|.*(Pad).*|.*(pad).*|.*(Kay).*|.*(Canoe).*",
                         "Fishing related": ".*(fish).*|(Fish).*|.*(Kill).*|.*(Pull).*|.*(Pick).*|.*(feed).*",
                         "Beach activities":".*(Wad).*|.*(Bath).*|.*(bath).*|.*(Stans).*|.*(Play).*|.*(play).*|.*(Walk).*|.*(walk).*",
                         "Diving activities": ".*(Div).*|.*(div).*|.*(underw).*|.*(Snork).*",
                         "Consequence of a shipwreck": ".*(dinghy).*|.*(collide).*|.*(lifeboat).*|.*(explodex).*|.*(skiff).*|.*(sink).*|.*(sank).*",
                         "Consequence of handeling sharks": ".*(Shark).*|.*(shark).*",
}
        
fun.filter_activity(attacks, activities, "Activity")

,Year,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,Month
3008,1981,Unprovoked,USA,Florida,Board involved activity,M,N,NaN,"St. Petersburg Times, 10/3/1981",Oct

In [6]:
fun.filter_time(attacks, "Time")

Afternoon                              1555
Morning                                 951
Random or not clear time references     284
Nightime                                115
Name: Time, dtype: int64

In [7]:
attacks.shape

(4952, 10)

In [9]:
fun.regex_new_column(attacks, "Fatal (Y/N)", "Fatal", "^(N|Y)")

fun.drop_columns(attacks, "Fatal (Y/N)")

In [12]:
attacks["Fatal"].value_counts()

N    3724
Y    1077
      151
Name: Fatal, dtype: int64

In [11]:
fun.regex_columns(attacks, "Sex", "^(F|M)")

,Year,Type,Country,Area,Activity,Sex,Time,Investigator or Source,Month,Fatal
2813,1986,Unprovoked,AUSTRALIA,New South Wales,Diving activities,F,NaN,Australian Shark Attack File,Aug,N

In [13]:
attacks["Sex"].value_counts()

M    4317
F     549
       86
Name: Sex, dtype: int64

In [10]:
attacks["Type"].value_counts()

Unprovoked      4026
Provoked         484
Invalid          141
Sea Disaster     131
Boating          112
Boat              54
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [15]:
attacks.to_csv("../data/attacks_cleaned.csv", index=False)

In [17]:
attacks

,Year,Type,Country,Area,Activity,Sex,Time,Investigator or Source,Month,Fatal
0,2018,Boating,USA,California,Board involved activity,F,Random or not clear time references,"R. Collier, GSAF",Jun,N
1,2018,Unprovoked,USA,Georgia,Standing,F,Afternoon,"K.McMurray, TrackingSharks.com",Jun,N
2,2018,Invalid,USA,Hawaii,Board involved activity,M,Morning,"K.McMurray, TrackingSharks.com",Jun,N
3,2018,Unprovoked,AUSTRALIA,New South Wales,Board involved activity,M,NaN,"B. Myatt, GSAF",Jun,N
4,2018,Provoked,MEXICO,Colima,Diving activities,M,NaN,A .Kipper,Jun,N
...,...,...,...,...,...,...,...,...,...,...
6296,,Unprovoked,AUSTRALIA,New South Wales,Swimming related,M,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",,Y
6297,,Unprovoked,AUSTRALIA,Western Australia,Diving activities,M,NaN,"H. Taunton; N. Bartlett, p. 234",,Y
6298,,Unprovoked,AUSTRALIA,Western Australia,Diving activities,M,NaN,"H. Taunton; N. Bartlett, pp. 233-234",,Y
6299,,Unprovoked,USA,North Carolina,Swimming related,M,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",,Y
6301,,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming related,M,NaN,S.W. Baker,,Y